{% extends './layout.html' %}


{% block title %}About{% endblock title %}


{% block content %}
<h1>Pokemon Info</h1>
<p>This is the about page</p>
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/1.png" class="rounded float-start" id="1">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/2.png" class="rounded float-start" id="2">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/3.png" class="rounded float-start" id="3">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/4.png" class="rounded float-start" id="4">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/5.png" class="rounded float-start" id="5">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/6.png" class="rounded float-start" id="6">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/7.png" class="rounded float-start" id="7">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/8.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/9.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/10.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/11.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/12.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/13.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/14.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/15.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/16.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/17.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/18.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/19.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/20.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/21.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/22.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/23.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/24.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/26.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/27.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/28.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/29.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/30.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/31.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/32.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/33.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/34.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/35.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/36.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/37.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/38.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/39.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/40.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/41.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon42.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/43.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/44.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/45.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/46.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/47.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/48.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/49.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/50.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/51.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/52.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/53.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/54.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/55.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/56.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/57.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/58.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/59.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/60.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/61.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/62.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/63.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/64.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/65.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/66.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/67.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/68.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/69.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/70.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/71.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/72.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/73.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/74.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/75.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/76.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/77.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/78.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/79.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/80.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/81.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/82.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/83.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/84.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/85.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/86.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/87.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/88.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/89.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/90.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/91.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/92.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/93.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/94.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/95.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/96.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/97.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/98.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/99.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/100.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/101.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/102.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/103.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/104.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/105.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/106.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/107.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/108.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/109.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/110.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/111.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/112.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/113.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/114.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/115.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/116.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/117.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/118.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/119.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/120.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/121.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/122.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/123.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/124.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/125.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/126.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/127.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/128.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/129.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/130.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/131.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/132.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/133.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/134.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/135.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/136.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/137.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/138.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/139.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/140.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/141.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/142.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/143.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/144.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/145.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/146.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/147.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/148.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/149.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/150.png" class="rounded float-start">
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/151.png" class="rounded float-start">


{% endblock content %}

